* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding-left: 100px;
    padding-top: 60px;
}

#background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.name {
    position: absolute;
    color: white;
    font-weight: 700;
}

.small-name {
    font-size: 20px;
    color: rgba(256, 256, 256, 0.6);
}

.big-name {
    font-size: 50px;
    line-height: 40px;
}

.overlay-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}

.overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 30%);
    z-index: -2;
}

.weather-container {
    position: absolute;
    bottom: 120px;
}

.temp {
    font-size: 144px;
    font-weight: 100;
    line-height: 100%;
    margin-bottom: 10px;
}

.status {
    font-size: 40px;
    margin-bottom: 30px;
}

.feels-like {
    font-size: 26px;
    margin-bottom: 4px;
}

.powered {
    font-size: 18px;
    color: rgba(256, 256, 256, 0.6);
    margin-bottom: 40px;
}

.param {
    font-size: 20px;
    color: rgba(256, 256, 256, 0.6);
    font-weight: 600;
    margin-bottom: 2px;
}

.value {
    font-size: 26px;
    font-weight: 600;
}

.info-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px 80px;
}

.updated {
    position: absolute;
    bottom: 60px;
    color: rgba(256, 256, 256, 0.3);
}

.search {
    position: absolute;
    top: 170px;
}

input {
    color: rgba(256, 256, 256, 0.99);
    font-size: 20px;
    font-weight: 100;
    padding: 12px 24px;
    padding-left: 75px;
    border: 1px solid rgba(256, 256, 256, 0.2);
    background: none;
    border-radius: 90px;
    transition: border 0.8s ease, width 0.4s ease;
    width: 100px;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 1px solid rgba(256, 256, 256, 0.4);
    width: 300px;
}

#icon {
    position: absolute;
    top: 14px;
    left: 20px;
    stroke: rgba(256, 256, 256, 0.9);
}